// This could be the section for CMS flags
.cms-pages {
  background: $white;
  padding: 30px 0 50px 0;

  .container .container {
    width: 100%;

    .col-sm-12 {
      padding: 0;
    }
  }

  .jdp-right-column,
  .jdp-left-column {
    padding: 0;
  }
}

/** internal settings */
#after-apply-title-container {
  text-align: center;
}

#after-apply-job-table-header th  {
  background-color: $white;
  color: #0f1643;
}

#job-results {
  padding: 30px 0;
}

#subscription-form p {
  text-align: center;
  margin-left: 0;
}

//titles for internal pages
#edit-preference-title,
#subscription-title,
#after-apply-thank-you-header {
  font-family: $primary-font;
  font-weight: 300;
  text-transform: capitalize;
  color: $black;
  margin-bottom: 30px;
}

//legal pages
.legal-page-background {
  p, ul {

  }

  h1, h2 {

  }
}

// this class is present on JDP and terms and conditions
.content-card {
  padding: 1.2em;
  border: 3px solid $primary-color;
  background-color: $white;
}

// use this for 404 & 500
.error-card {
  margin: 30px 0;
  padding: 30px;
  border: 1px solid $primary-color;
  border-top: 3px solid $primary-color;
  text-align: center;
  background-color: #e1e1e1;
}

// This set the style to ul of city suggesttion for search bar
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: $primary-color;
  color: $white;
  border: 0;
}

// This is for the google autocomplete icon & text
// under automplete list on search bar
ul#suggestions {

  li.autocompletefooter {
    background-color: $white;
    display: list-item;
    float: left;
    width: 100%;
    list-style-type: none;
  }
}

/*** JDP **/
.jdp-title-inner-container {
  background-color: $white;
  // padding: 0;
}

.jdp-title-container .jdp-job-title,
#jdp-title-date-posted {
  color: #3e434b;
}

.jdp-title-container .jdp-job-title {
  font-weight: bold;
  text-transform: none;
}

#jdp-not-ready-to-apply-link-top,
#jdp-not-ready-to-apply-link-bottom {
  color: $primary-color;
  font-weight: bold;
}

.job-details-content {
  border-top: 1px solid #e8eaeb;
  background-color: $white;
}

.content-card-header {
  font-weight: bold;
  text-align: left;
  color: $black;
  text-transform: capitalize;
}

.jdp-job-snapshot-card.content-card {
  padding: 15px;
  border: 1px solid #e8eaeb;
  border-radius: 6px;

  h2.content-card-header {
    margin: -15px;
    padding: 15px;
    background: #e8eaeb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-transform: capitalize;
  }
}

.snapshot-padding {
  padding-top: 15px;
  margin-top: 15px;

  li {
    margin-bottom: 15px;
  }

  .secondary-text-color {
    color: $secondary-color;
  }

  .snapshot-text {
    padding-left: 20px;

    strong {

    }
  }

  .snapshot-icon {
    vertical-align: middle;
  }

  .job-snapshot-link {
    @include on-event($self: true) {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

#jdp-breadcrumb-row {

}

.breadcrumb {
  background-color: $white;
  border-radius: 3px;
  li.bread-crumb-item {
    a {
      color: $secondary-color;
    }

    &:last-child {
      a {
        color: $black;
      }
    }
  }

  >li + li::before {
    color: $secondary-color;
  }
}

.jdp-job-snapshot-card a {
   font-weight: bold;
   color: $primary-color;
}

.similar-jobs-container h3 {
    color: $black;
}

ol.similar-jobs {
  li {
    a.similar-jobs-tag {
      color: $primary-color;
    }
  }
}

//this makes the mutibrand image and the apply bottom button section to be on the left side
// #jdp-bottom-apply-company-logo-col,
// #jdp-bottom-apply-button-col {
//   display: block;
//   width: 100%;
// }
//
// .multi-brand-image {
//   margin-bottom: 3em;
//
//   img {
//     display: block;
//     margin-left: 0;
//   }
// }

/*** JRP **/

// pagination elements
// not visible on XS
.pagination>li {
  &:first-child>a {

  }

  >a {
    border-radius: 50px;
    color: $secondary-color;
  }

  &:hover>a{
    background-color: $third-color;
    color: $white;
  }

  &.active, &.active:hover {
    >a {
      background-color: $third-color;
      color: $white;
      border-radius: 50px;
    }
  }
}


// Envelop icon
.fa-envelope-o {
  color: $white;
  border-radius: 50px;
  background-color: $secondary-color;
  padding: 10px;
  margin-right: 15px;
}

// text next to sign icon
#sign-up-widget {
  color: $secondary-color;
  font-weight: 400;
  text-transform: capitalize;
}

// Left column facets
#jrp-desktop-facet-col {
  background-color: $white;

  // facets main parent
  #desktop-facets-container {
    background-color: $white;
  }

  // narrow search button
  #narrow-search-header {
    width: 100%;
    background-color: #e8eaeb;
    text-transform: capitalize;
    color: #0f1643;
  }

  .desktop-facets {
    &:last-child {
      padding-bottom: 0;
    }
  }

  // facets body parent
  #desktop-facets-body {
    background-color: inherit;
  }

  // facet header
  .caret-facet-category-header {
    background-color: #e8eaeb;
    color: #0f1643;
    text-transform: capitalize;
    width: 100%;
    font-weight: bold;
  }

  // items from facets
  .caret-facet-item-container {
    width: 100%;
    color: #0f1643;
    background-color: $white;
    border-color: #e8eaeb;
    font-weight: bold;

    .selected-caret-facet-item-container {
      margin: 0;
      width: 100%;
    }
  }

  // View more button parent
  .view-facet-btn-container {
    background-color: #e8eaeb;
    color: #0f1643;

    // view more button
    a {
      color: #0f1643;
      display: block;
      text-align: center;

      // This adds a + icons to view more button
      &::before {
        content: '\f067';
        font: normal normal normal 14px/1 FontAwesome;
      }
    }
  }
}

// Jobs results table
#job-result-table {

  // each job result
  .job-result {

    @include on-event {
      background-color: $primary-color;
      color: $white;

      td {
        a.job-result-title {
            color: $white;
            // font-family: $internal-fonts;
        }

        &.job-result-location-cell,
        &.job-result-date-posted-cell {
          color: $white;
        }
      }
    }

    td {
      a.job-result-title {
        color: $primary-color;

        &:hover {
          /* background-color: grey; */
          // color: #0093d0;
        }
      }

      &.job-result-location-cell,
      &.job-result-date-posted-cell {
        color: #0f1643;
      }
    }

    .glyphicon-menu-right {
        color: $primary-color;
    }
  }
}

.next-mobile-page,
.previous-mobile-page {
  // background-color: $primary-color;
  // color: $white;
  //
  // &:hover {
  //   background-color: shade($primary-color, 15%);
  //   color: $white;
  // }
}


/*** no jobs message **/
#no-jobs-message {
  padding: 30px 15px;
  text-align: center;
}

//internal buttons setup
#edit-preference-update-btn,
#edit-preference-unsubscribe-link {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  #jdp-apply-section-bottom {
    text-align: right;
    float: right;
  }
  /** JRP **/
  /*** no jobs message **/
  #no-jobs-message {
    padding: 30px 15px;
    text-align: left;
  }

  #job-result-table {
    .job-result-header {
      background-color: $white;

      a, span {
       color: #0f1643;
       font-weight: bold;
     }
    }
  }
   /*** END JRP */

  // internal buttons setup
  #edit-preference-update-btn,
  #edit-preference-unsubscribe-link {
    width: auto;
  }

  #edit-preference-update-btn {
    margin-left: 0;
    float: left;
  }

  #subscription-save-btn,
  .search-jobs-button-404 {
    max-width: 146px;
    margin: 0 auto;
  }

  #jdp-apply-button-top,
  #jdp-apply-button-bottom {
    max-width: 270px;
  }

  .search-jobs-button-404 {
    max-width: 146px;
    margin: 0 auto;
  }

  #edit-preference-form .text-center {
    margin-top: 0;
    float: right;
  }
}

@media (min-width: 992px) {
  .cms-pages {
    padding: 50px 0 100px 0;

    .jdp-right-column {
      padding-left: 15px;
    }

    .jdp-left-column {
      padding-right: 15px;
    }
  }

  /*** JDP **/

  // this could be removed
  #jdp-job-description-section {
   // margin-top: -25px;
  }

  // activate this to push bottom apply button to left
  // #jdp-bottom-apply-section {
  //  height: 136px;
  //}

  //#jdp-bottom-apply-button-col {
  //  float: left;
  //  position: absolute;
  //  bottom: -36px;
  //  display: block;
  //  height: 136px;
  //  padding-top: 60px;
  //}

  .similar-jobs-container {
    // padding: 50px 0;
  }

  /*** JRP **/
  #jrp-desktop-facet-col {

    // Hidding Narrow button
    #narrow-search-header {
      display: none;
    }

    // facets
    .desktop-facets {
      border: 1px solid #e8eaeb;
      border-radius: 6px;
      margin-bottom: 25px;
    }

    // title of the facet
    .caret-facet-category-header {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      font-size: 20px;
    }

    // childs of each facets
    .caret-facet-item-container {
      background-color: $white;
      width: 100%;
      margin: 0;

      &:hover {
        // background-color: #f7f7f7;
      }

      // color of the angle-right icon
      .caret-facet-accent {
          color: $primary-color;
      }
    }

    // view button container
    .view-facet-btn-container  {
      width: 100%;
      margin: 0;
      background-color: $white;
      padding: 10px 0;

      // View more button
      a {
        color: $primary-color;
      }
    }
  }

  // main title on this page
  .search-results-title.label-text,
  .jdp-title-container .jdp-job-title,
  #edit-preference-title,
  #subscription-title,
  #after-apply-thank-you-header {
    font-weight: 700;
    text-transform: none;
  }

  #job-result-table {
    .job-result-header {
      a,span {
      display: block;
      font-size: 20px;
      padding: 2px 0;
      }
    }
  }

  /** END JRP */
}

@media (min-width: 1200px) {
  .cms-pages {

  }

  /*** JRP **/
  #job-result-table {
    .job-result-header {
      a, span {
        display: block;
        font-size: 20px;
        padding: 2px 0;
      }
    }
  }

  #jrp-desktop-facet-col {
    .caret-facet-category-header {
      font-size: 20px;
    }
  }
  // /** END JRP **/
}
