// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {

}
.footer-top {

}
.footer-middle {

}
.footer-legal {

}

//this class could be applied to
// terms and policy
.legal-list {
  li {
    a {
      color: $white;

      @include on-event {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}

//navigation elements on footer
.footer-nav {
  li {
    a {

      @include on-event {
        color: $white;
        text-decoration: underline;
      }

    }
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
