// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-general {
  background-color: $btncolor;
  color: $white;
  border: none;
  padding: 7px 15px;
  text-transform: capitalize;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 0;
  opacity: 1;

  @include on-event {
    background-color: $btnhover;
    padding: 7px 15px;
    color: $white;
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 0;
    opacity: 1;
  }
}

//cms clases and id's will share button's properties
.primary-button,
.secondary-button,
.join-button,
#edit-preference-update-btn,
#subscription-save-btn {
  @extend .btn-general;
  position: relative;
  display: block;
}
