// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-general, .btn-general:focus{
  background-color: $btncolor;
  color: $white;
  border: none;
  padding: 6px 15px;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 0;
  opacity: 1;
  &:hover {
    background-color: shade($secondary-color, 15%);
    padding: 6px 15px;
    color: $white;
    text-transform: capitalize;
    text-decoration: none;
    border: none;
    opacity: 1;
  }
}

.primary-button,
.btn-join,
#edit-preference-update-btn,
#subscription-save-btn {
  @extend .btn-general;
  position: relative;
  display: block;
}
